
* {
    box-sizing: border-box;
}

@media (max-width: 600px) {
    

    body {
        background-image: url(https://i.imgur.com/tUQ4xPX.jpeg);
        background-position: center;
    }
    
    .start-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #logo {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
    }

    .start-button {

        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
        margin-top: 20px;
      }
      
      .start-button:hover {
        border:0.1em solid rgb(243, 115, 115);

      }

      #start {
          font-size: 25px;
          padding:0.35em 1.2em;
          text-decoration:none;
          font-family:'Roboto',sans-serif;
          font-weight:300;
          color:rgb(230, 164, 79);
          text-shadow: 2px 2px #ff0000;
          text-shadow: black;
      }

        h1 {
        color: gold;
        text-shadow: 2px 2px #ff0000;

    }


        #submit-button {
        padding:0.35em 1.2em;
        border:0.1em solid rgb(218, 157, 157);
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }

      #submit-button:hover { 
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }


      #next-question-button {
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }


      .restart-button {
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0.35em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(228, 33, 33);
        text-align:center;
        transition: all 0.2s;
        font-weight: bold;
        font-size:24px;
        text-shadow: 2px 2px #582727;

      }

      #question-container {
          display: flex;
          align-items: center;
          justify-self: center;
          flex-direction: column;
          flex: -1;
      }

      label {
          display: flex;
          justify-content: center;
          color: rgb(19, 31, 99);
          font-weight: bold;
          padding: 10px;
          font-size: 24px;
          padding:0.35em 1.2em;
          border:0.1em solid #FFFFFF;
          margin:0 0.3em 0.3em 0;
          border-radius:0.12em;
          box-sizing: border-box;
          text-shadow: 2px 2px #532626;
      }


      input[type=radio]:checked + span {
        color: rgb(14, 74, 109);
      }

      [type=radio] {
          opacity: 0;
      }

      .answer-display {
          display:flex;
          justify-content: center;
          align-items: center;
          margin: auto;
      }

      [class^='a-button'] {
          display:flex; 
          align-items: center;
          justify-content: center;
          margin-top:20px;
      }

      [class$='Img'] {
        display:flex;
        justify-content: center;
        align-items: center;
    }

}
      
    
    

@media (min-width: 600px) {
    body {
        background-image: url('https://i.imgur.com/JTjy2Of.jpg');
        background-position: center;
    }
    
    .start-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #logo {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
    }

    .start-button {

        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
        margin-top: 20px;
      }
      
      .start-button:hover {
        border:0.1em solid rgb(243, 115, 115);

      }

      #start {
          font-size: 25px;
          padding:0.35em 1.2em;
          text-decoration:none;
          font-family:'Roboto',sans-serif;
          font-weight:300;
          color:rgb(230, 164, 79);
          text-shadow: 2px 2px #ff0000;
          text-shadow: black;
      }

        h1 {
        color: gold;
        text-shadow: 2px 2px #ff0000;

    }


        #submit-button {
        padding:0.35em 1.2em;
        border:0.1em solid rgb(218, 157, 157);
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }

      #submit-button:hover { 
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }


      #next-question-button {
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }


      .restart-button {
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0.35em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(228, 33, 33);
        text-align:center;
        transition: all 0.2s;
        font-weight: bold;
        font-size:24px;
        text-shadow: 2px 2px #ff0000;

      }

      #question-container {
          display: flex;
          align-items: center;
          justify-self: center;
          flex-direction: column;
          flex: -1;
      }

      label {
          display: flex;
          justify-content: center;
          color: rgb(207, 172, 55);
          font-weight: bold;
          padding: 10px;
          font-size: 24px;
          padding:0.35em 1.2em;
          border:0.1em solid #FFFFFF;
          margin:0 0.3em 0.3em 0;
          border-radius:0.12em;
          box-sizing: border-box;
      }


      input[type=radio]:checked + span {
        color: rgb(224, 28, 175);
      }

      [type=radio] {
          opacity: 0;
      }

      .answer-display {
          display:flex;
          justify-content: center;
          align-items: center;
          margin: auto;
      }

      [class^='a-button'] {
          display:flex; 
          align-items: center;
          justify-content: center;
          margin-top:20px;
      }

      [class$='Img'] {
        display:flex;
        justify-content: center;
        align-items: center;
    }

}


@media (max-width: 768px) {
    body {
        background-image: url('https://i.imgur.com/JTjy2Of.jpg');
        background-position: center;
    }
    
    .start-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #logo {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
    }

    .start-button {

        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
        margin-top: 20px;
      }
      
      .start-button:hover {
        border:0.1em solid rgb(243, 115, 115);

      }

      #start {
          font-size: 25px;
          padding:0.35em 1.2em;
          text-decoration:none;
          font-family:'Roboto',sans-serif;
          font-weight:300;
          color:rgb(230, 164, 79);
          text-shadow: 2px 2px #ff0000;
          text-shadow: black;
      }

        h1 {
        color: gold;
        text-shadow: 2px 2px #ff0000;

    }


        #submit-button {
        padding:0.35em 1.2em;
        border:0.1em solid rgb(218, 157, 157);
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }

      #submit-button:hover { 
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }


      #next-question-button {
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }


      .restart-button {
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0.35em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(228, 33, 33);
        text-align:center;
        transition: all 0.2s;
        font-weight: bold;
        font-size:24px;
        text-shadow: 2px 2px #ff0000;
      }

      #question-container {
          display: flex;
          align-items: center;
          justify-self: center;
          flex-direction: column;
          flex: -1;
      }

      label {
          display: flex;
          justify-content: center;
          color: rgb(207, 172, 55);
          font-weight: bold;
          padding: 10px;
          font-size: 24px;
          padding:0.35em 1.2em;
          border:0.1em solid #FFFFFF;
          margin:0 0.3em 0.3em 0;
          border-radius:0.12em;
          box-sizing: border-box;
      }


      input[type=radio]:checked + span {
        color: rgb(78, 200, 204);
      }

      [type=radio] {
          opacity: 0;
      }

      .answer-display {
          display:flex;
          justify-content: center;
          align-items: center;
          margin: auto;
      }

      [class^='a-button'] {
          display:flex; 
          align-items: center;
          justify-content: center;
          margin-top:20px;
      }

      [class$='Img'] {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 992px) {
    body {
        background-image: url('https://i.imgur.com/JTjy2Of.jpg');
        background-position: center;
    }
    
    .start-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #logo {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
    }

    .start-button {

        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
        margin-top: 20px;
      }
      
      .start-button:hover {
        border:0.1em solid rgb(243, 115, 115);

      }

      #start {
          font-size: 25px;
          padding:0.35em 1.2em;
          text-decoration:none;
          font-family:'Roboto',sans-serif;
          font-weight:300;
          color:rgb(230, 164, 79);
          text-shadow: 2px 2px #ff0000;
          text-shadow: black;
      }

        h1 {
        color: gold;
        text-shadow: 2px 2px #ff0000;

    }


        #submit-button {
        padding:0.35em 1.2em;
        border:0.1em solid rgb(218, 157, 157);
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }

      #submit-button:hover { 
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }


      #next-question-button {
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }


      .restart-button {
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:rgb(211, 9, 211);
        text-align:center;
        transition: all 0.2s;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0.35em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color: rgb(218, 231, 228);
        text-align:center;
        transition: all 0.2s;
        font-weight: bold;
        font-size:24px;
        text-shadow: 2px 2px #ff0000;

      }

      #question-container {
          display: flex;
          align-items: center;
          justify-self: center;
          flex-direction: column;
          flex: -1;
      }

      label {
          display: flex;
          justify-content: center;
          color: rgb(218, 231, 228);
          font-weight: bold;
          padding: 10px;
          font-size: 36px;
          padding:0.35em 1.2em;
          border:0.1em solid #FFFFFF;
          margin:0 0.3em 0.3em 0;
          border-radius:0.12em;
          box-sizing: border-box;
          text-shadow: 2px 2px #080808;
      }


      input[type=radio]:checked + span {
        color: rgb(218, 204, 204);
        text-shadow: 2px 2px #181616;
      }

      [type=radio] {
          opacity: 0;
      }

      .answer-display {
          display:flex;
          justify-content: center;
          align-items: center;
          margin: auto;
      }

      [class^='a-button'] {
          display:flex; 
          align-items: center;
          justify-content: center;
          margin-top:20px;
      }
      

      [class$='Img'] {
          display:flex;
          justify-content: center;
          align-items: center;
      }

}
